# Can use mysql of h2 databases. Use h2 for normal testing.
db.url=jdbc:mysql://__DBIP__:__DBPORT__/speaker
db.driver=com.mysql.jdbc.Driver
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
db.user=speaker
db.password=test123

# Mail settings. We currently use a test mail trap for this
smtp.host=mailtrap.io
smtp.port=465
smtp.username=c233a63c13046b
smtp.password=bb97726da8ce06