<div class="container">
  <div class="header">
    <div class="left-header">
      <h1>User Accounts</h1>
    </div>
    <div class="right-header"> 
      <div style="height:10\3px;">&nbsp;</div>
      <button type="button" class="btn btn-default btn-lg text-center" (click)="addNewUser()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" title="add"></span> Add User
      </button>
    </div>
  </div>
  <div [hidden]="!errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{employee.username}}</td>
      <td>{{employee.firstname}}</td>
      <td>{{employee.lastname}}</td>
      <td>{{employee.address1}}</td>
      <td>{{employee.address2}}</td>
      <td>{{employee.city}}</td>
      <td>{{employee.state}}</td>
      <td>{{employee.zip}}</td>
      <td>{{employee.phone}}</td>
      <td>  
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="delete"
          (click)="deleteUser(employee)"></span>
      </td>
    </tr>
  </tbody>
  </table>
</div>