<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div [hidden]="!model.authFailure" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="username"
        required
        [(ngModel)]="model.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
    </div>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
  </form>
</div>